### fetch data from API

In [1]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), "..")))

import requests
import json
import pandas as pd
from datetime import datetime, timedelta
from src.paths import RAW_DATA_electricity_DIR

def download_one_electricity_raw_data(year: int, month: int, day: int) -> pd.DataFrame:
    """
    Fetch raw electricity demand data from the EIA API for the specified date.

    Parameters:
        year (int): Year of the data.
        month (int): Month of the data.
        day (int): Day of the data.

    Returns:
        pd.DataFrame: A DataFrame containing the fetched data.
    """
    # Ensure correct date formatting
    start_date = datetime(year, month, day)
    end_date = start_date + timedelta(days=1)

    # API URL and parameters
    url = "https://api.eia.gov/v2/electricity/rto/region-sub-ba-data/data/"
    params = {
        "frequency": "hourly",
        "data[0]": "value",
        "sort[0][column]": "period",
        "sort[0][direction]": "desc",
        "offset": 0,
        "length": 5000,
        "start": start_date.strftime("%Y-%m-%d"),
        "end": end_date.strftime("%Y-%m-%d"),
        "api_key": "dqRq8VpXSoyUrCbrPhuYFxGl6Rul9kmVcRshZ98c"
    }

    try:
        # Make GET request
        response = requests.get(url, params=params)
        response.raise_for_status()  # Raise HTTPError for bad responses

        # Parse JSON response
        data = response.json()

        # Save JSON response to a file
        file_path = RAW_DATA_electricity_DIR / f"hourly_demand_{year}-{month:02d}-{day:02d}.json"
        with open(file_path, 'w') as f:
            json.dump(data, f, indent=4)

        print(f"Data successfully fetched and saved to {file_path}")

        # Convert the response data to a DataFrame
        if 'response' in data and 'data' in data['response']:
            return pd.DataFrame(data['response']['data'])
        elif 'data' in data:  # Adjust according to the actual structure
            return pd.DataFrame(data['data'])
        else:
            print("Unexpected data structure in API response.")
            return pd.DataFrame()

    except requests.exceptions.RequestException as e:
        print(f"Error fetching data: {e}")
        return pd.DataFrame()

In [2]:


def download_one_electricity_raw_data(year: int, month: int, day: int) -> pd.DataFrame:
    """
    Fetch raw electricity demand data from the EIA API for the specified date.

    Parameters:
        year (int): Year of the data.
        month (int): Month of the data.
        day (int): Day of the data.

    Returns:
        pd.DataFrame: A DataFrame containing the fetched data.
    """
    # Ensure correct date formatting
    start_date = datetime(year, month, day)
    end_date = start_date + timedelta(days=1)

    # API URL and parameters
    url = "https://api.eia.gov/v2/electricity/rto/region-sub-ba-data/data/"
    params = {
        "frequency": "hourly",
        "data[0]": "value",
        "sort[0][column]": "period",
        "sort[0][direction]": "desc",
        "facets[0][parent]":"NYIS",
        "offset": 0,
        "length": 5000,
        "start": start_date.strftime("%Y-%m-%d"),
        "end": end_date.strftime("%Y-%m-%d"),
        "api_key": "dqRq8VpXSoyUrCbrPhuYFxGl6Rul9kmVcRshZ98c"

    }

    try:
        # Make GET request
        response = requests.get(url, params=params)
        response.raise_for_status()  # Raise HTTPError for bad responses

        # Parse JSON response
        data = response.json()

        # Save JSON response to a file
        file_path = RAW_DATA_electricity_DIR / f"hourly_demand_{year}-{month:02d}-{day:02d}.json"
        with open(file_path, 'w') as f:
            json.dump(data, f, indent=4)

        print(f"Data successfully fetched and saved to {file_path}")

        # Convert the response data to a DataFrame
        if 'response' in data and 'data' in data['response']:
            return pd.DataFrame(data['response']['data'])
        elif 'data' in data:  # Adjust according to the actual structure
            return pd.DataFrame(data['data'])
        else:
            print("Unexpected data structure in API response.")
            return pd.DataFrame()

    except requests.exceptions.RequestException as e:
        print(f"Error fetching data: {e}")
        return pd.DataFrame()


def download_one_electricity_raw_data(year: int, month: int, day: int) -> pd.DataFrame:
    """
    Fetch raw electricity demand data from the EIA API for the specified date.

    Parameters:
        year (int): Year of the data.
        month (int): Month of the data.
        day (int): Day of the data.

    Returns:
        pd.DataFrame: A DataFrame containing the fetched data.
    """
    # Ensure correct date formatting
    start_date = datetime(year, month, day)
    end_date = start_date + timedelta(days=1)

    # API URL and parameters
    url = "https://api.eia.gov/v2/electricity/rto/region-sub-ba-data/data/"
    params = {
        "frequency": "hourly",
        "data[0]": "value",
        "sort[0][column]": "period",
        "sort[0][direction]": "desc",
        "facets[parent][0]": "NYIS",
        "offset": 0,
        "length": 5000,
        "start": start_date.strftime("%Y-%m-%d"),
        "end": end_date.strftime("%Y-%m-%d"),
        "api_key": "dqRq8VpXSoyUrCbrPhuYFxGl6Rul9kmVcRshZ98c"

    }

    try:
        # Make GET request
        response = requests.get(url, params=params)
        response.raise_for_status()  # Raise HTTPError for bad responses

        # Parse JSON response
        data = response.json()

        # Save JSON response to a file
        file_path = RAW_DATA_electricity_DIR / f"hourly_demand_{year}-{month:02d}-{day:02d}.json"
        with open(file_path, 'w') as f:
            json.dump(data, f, indent=4)

        print(f"Data successfully fetched and saved to {file_path}")

        # Convert the response data to a DataFrame
        if 'response' in data and 'data' in data['response']:
            return pd.DataFrame(data['response']['data'])
        elif 'data' in data:  # Adjust according to the actual structure
            return pd.DataFrame(data['data'])
        else:
            print("Unexpected data structure in API response.")
            return pd.DataFrame()

    except requests.exceptions.RequestException as e:
        print(f"Error fetching data: {e}")
        return pd.DataFrame()

In [3]:
start=datetime(2022,1,2)
end=datetime(2022,1,5)

In [9]:
from src.component.data_info import load_daily_electricity_data
data=load_daily_electricity_data(start,end)

Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2022-01-02.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2022-01-03.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2022-01-04.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2022-01-05.json
Successfully loaded and processed data for 2022-01-02 00:00:00+00:00 to 2022-01-05 00:00:00+00:00

In [10]:
data

                          date  sub_region_code demand
0    2022-01-03 00:00:00+00:00                0   1894
1    2022-01-03 00:00:00+00:00                1   1309
2    2022-01-03 00:00:00+00:00                2   2115
3    2022-01-03 00:00:00+00:00                3    770
4    2022-01-03 00:00:00+00:00                4   1087
...                        ...              ...    ...
1095 2022-01-05 00:00:00+00:00                6   1387
1096 2022-01-05 00:00:00+00:00                7    439
1097 2022-01-05 00:00:00+00:00                8    771
1098 2022-01-05 00:00:00+00:00                9   6457
1099 2022-01-05 00:00:00+00:00               10   2888

[1100 rows x 3 columns]

In [11]:
download_one_electricity_raw_data(2024,1,1)

Data successfully fetched and saved to D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2024-01-01.json

,period,subba,subba-name,parent,parent-name,value,value-units
0,2024-01-02T00,ZONA,West - NYIS,NYIS,New York Independent System Operator,1908,megawatthours
1,2024-01-02T00,ZONB,Genesee - NYIS,NYIS,New York Independent System Operator,1257,megawatthours
2,2024-01-02T00,ZONC,Central - NYIS,NYIS,New York Independent System Operator,2064,megawatthours
3,2024-01-02T00,ZOND,North - NYIS,NYIS,New York Independent System Operator,750,megawatthours
4,2024-01-02T00,ZONE,Mohawk Valley - NYIS,NYIS,New York Independent System Operator,1027,megawatthours
...,...,...,...,...,...,...,...
270,2024-01-01T00,ZONG,Hudson Valley - NYIS,NYIS,New York Independent System Operator,1241,megawatthours
271,2024-01-01T00,ZONH,Millwood - NYIS,NYIS,New York Independent System Operator,377,megawatthours
272,2024-01-01T00,ZONI,Dunwoodie - NYIS,NYIS,New York Independent System Operator,680,megawatthours
273,2024-01-01T00,ZONJ,New York City - NYIS,NYIS,New York Independent System Operator,5536,megawatthours
274,2024-01-01T00,ZONK,Long Island - NYIS,NYIS,New York Independent System Operator,2549,megawatthours

In [12]:
data=download_one_electricity_raw_data(2025,1,4)
data['subba-name'].unique()

Data successfully fetched and saved to D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2025-01-04.json

array(['West', 'Genesee', 'Central', 'North', 'Mohawk Valley', 'Capital',
       'Hudson Valley', 'Millwood', 'Dunwoodie', 'New York City',
       'Long Island'], dtype=object)

In [13]:
from pathlib import Path
from datetime import datetime, timedelta
from typing import Optional
import pandas as pd
import json
from sklearn.preprocessing import LabelEncoder
from src.paths import RAW_DATA_electricity_DIR

# Define a directory to store the raw data filesd

def load_daily_electricity_data(
    start_date: str,
    end_date: str
) -> pd.DataFrame:
    """
    Loads raw electricity data from local storage or downloads it using the API for the specified date range.
    Includes preprocessing of data before concatenating it into a single DataFrame.

    Args:
        start_date (str): Start date in YYYY-MM-DD format.
        end_date (str): End date in YYYY-MM-DD format.
    
    Returns:
        pd.DataFrame: Preprocessed and combined DataFrame for the date range.
    """
    start = datetime.strptime(start_date, "%Y-%m-%d")
    end = datetime.strptime(end_date, "%Y-%m-%d")
    
    all_data = []  # Use a list to collect DataFrames for efficient concatenation
    label_encoder = LabelEncoder()  # Initialize Label Encoder

    current_date = start
    while current_date <= end:
        year = current_date.year
        month = current_date.month
        day = current_date.day

        # Define file path for the current day's data
        local_file = RAW_DATA_electricity_DIR / f"hourly_demand_{year}-{month:02d}-{day:02d}.json"

        if local_file.exists():
            print(f"Loading file {local_file}")
            with open(local_file, "r") as f:
                data = json.load(f)
            if 'response' in data and 'data' in data['response']:
                day_data = pd.DataFrame(data['response']['data'])
            else:
                print(f"Unexpected structure in {local_file}")
                current_date += timedelta(days=1)
                continue
        else:
            print(f"File {local_file} not found. Fetching from API...")
            day_data = download_one_electricity_raw_data(year, month, day)
            if day_data.empty:
                current_date += timedelta(days=1)
                continue

        # Preprocessing
        if 'subba' in day_data:  # Ensure the column exists
            day_data['sub_region_code'] = label_encoder.fit_transform(day_data['subba'])
        else:
            print("'subba' column not found in data. Skipping encoding for this day.")
            day_data['sub_region_code'] = None

        # Select and rename columns
        day_data = day_data[['period', 'sub_region_code', 'value']]
        day_data.rename(columns={
            'value': 'demand',
            'period': 'date',
        }, inplace=True)

        # Convert 'date' to datetime format
        day_data['date'] = pd.to_datetime(day_data['date'], format="%Y-%m-%dT%H")

        # Add the processed DataFrame to the list
        all_data.append(day_data)

        current_date += timedelta(days=1)

    # Concatenate all daily DataFrames
    if all_data:
        combined_data = pd.concat(all_data, ignore_index=True)
        print(f"Successfully loaded and processed data for {start_date} to {end_date}")
        return combined_data
    else:
        print("No data found for the specified date range.")
        return pd.DataFrame()

In [14]:
electricity_data=load_daily_electricity_data('2024-01-01','2024-01-07')
electricity_data

Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2024-01-01.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2024-01-02.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2024-01-03.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2024-01-04.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2024-01-05.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2024-01-06.json
Loading file D:\projects\electricity_demand_predictor-main\data\raw\electricity_raw_data\hourly_demand_2024-01-07.json
Successfully loaded and processed data for 2024-01-01 to 2024-01-07

           date  sub_region_code demand
0    2024-01-02                0   1908
1    2024-01-02                1   1257
2    2024-01-02                2   2064
3    2024-01-02                3    750
4    2024-01-02                4   1027
...         ...              ...    ...
1920 2024-01-07                6   1362
1921 2024-01-07                7    437
1922 2024-01-07                8    740
1923 2024-01-07                9   6026
1924 2024-01-07               10   2652

[1925 rows x 3 columns]

In [ ]:
#function to load the electricity data that has downoad function in it sp this function download and preprosess the data and load it  done
#same function with weather data 
#function to merge these 2 dataframes

#so first i load the electricity data and i load the weather data and i call the merge function that takes those 2 dataframes as parameters and merge them

In [15]:
import requests_cache
import pandas as pd
from retry_requests import retry
import openmeteo_requests
from pathlib import Path
from src.paths import RAW_DATA_weather_DIR


def download_and_load_weather_data(start_date, end_date):
    """
    Downloads hourly weather data from the Open-Meteo API and saves it as a CSV.

    Args:
        start_date (str): Start date in "YYYY-MM-DD" format.
        end_date (str): End date in "YYYY-MM-DD" format.

    Returns:
        pd.DataFrame: A DataFrame containing hourly weather data with temperature values.
    """
    # Setup the Open-Meteo API client with cache and retry on error
    cache_session = requests_cache.CachedSession('.cache', expire_after=-1)
    retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
    openmeteo = openmeteo_requests.Client(session=retry_session)

    # API URL and parameters
    url = "https://archive-api.open-meteo.com/v1/archive"
    params = {
        "latitude": 52.52,  # Example coordinates for Berlin, Germany
        "longitude": 13.41,
        "start_date": start_date,
        "end_date": end_date,
        "hourly": ["temperature_2m"],
        "timeformat": "unixtime",
        "timezone": "America/New_York"
    }

    try:
        # Fetch data from the Open-Meteo API
        response = openmeteo.weather_api(url, params=params)[0]  # Assuming single location

        # Process metadata
        print(f"Coordinates: {response.Latitude()}°N, {response.Longitude()}°E")
        print(f"Elevation: {response.Elevation()} m asl")
        print(f"Timezone: {response.Timezone()} {response.TimezoneAbbreviation()}")
        print(f"Timezone difference to GMT+0: {response.UtcOffsetSeconds()} seconds")

        # Extract hourly data
        hourly = response.Hourly()
        hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
        hourly_data = {
            "date": pd.date_range(
                start=pd.to_datetime(hourly.Time(), unit="s", utc=True),
                end=pd.to_datetime(hourly.TimeEnd(), unit="s", utc=True),
                freq=pd.Timedelta(seconds=hourly.Interval()),
                inclusive="left"
            )}
        
        hourly_data["temperature_2m"] = hourly_temperature_2m

        # Convert to DataFrame and process timestamps
        hourly_dataframe = pd.DataFrame(data = hourly_data)

        hourly_dataframe["date"] = pd.to_datetime(hourly_dataframe["date"]).dt.floor("h").dt.tz_localize(None)

        # Save to file
        file_path = RAW_DATA_weather_DIR / f"weather_data_{start_date}_to_{end_date}.csv"
        hourly_dataframe.to_csv(file_path, index=False)
        print(f"Weather data saved to {file_path}")

        return hourly_dataframe

    except Exception as e:
        print(f"Error downloading weather data: {e}")
        return pd.DataFrame()

In [16]:
weather_data=download_and_load_weather_data('2024-01-01','2024-01-07')
weather_data

Coordinates: 52.5483283996582°N, 13.407821655273438°E
Elevation: 38.0 m asl
Timezone: b'America/New_York' b'GMT-4'
Timezone difference to GMT+0: -14400 seconds
Weather data saved to D:\projects\electricity_demand_predictor-main\data\raw\weather_raw_data\weather_data_2024-01-01_to_2024-01-07.csv

                   date  temperature_2m
0   2024-01-01 04:00:00          4.4085
1   2024-01-01 05:00:00          3.9085
2   2024-01-01 06:00:00          3.7585
3   2024-01-01 07:00:00          3.4585
4   2024-01-01 08:00:00          3.9085
..                  ...             ...
163 2024-01-07 23:00:00         -7.6915
164 2024-01-08 00:00:00         -7.7415
165 2024-01-08 01:00:00         -7.5915
166 2024-01-08 02:00:00         -7.0915
167 2024-01-08 03:00:00         -7.4415

[168 rows x 2 columns]

In [17]:
#function to merge the 2 dataset together 
def merge_data(df1,df2):
 full_data=pd.merge(df1,df2, on="date", how="inner")
 return full_data

In [18]:
full_data=merge_data(electricity_data,weather_data)
full_data

           date  sub_region_code demand  temperature_2m
0    2024-01-02                0   1908          4.8085
1    2024-01-02                1   1257          4.8085
2    2024-01-02                2   2064          4.8085
3    2024-01-02                3    750          4.8085
4    2024-01-02                4   1027          4.8085
...         ...              ...    ...             ...
1876 2024-01-07                6   1362         -1.9915
1877 2024-01-07                7    437         -1.9915
1878 2024-01-07                8    740         -1.9915
1879 2024-01-07                9   6026         -1.9915
1880 2024-01-07               10   2652         -1.9915

[1881 rows x 4 columns]

In [ ]:
#function to transform this data to ts
#function to transform the data to features and target

In [19]:
df = data

In [20]:
df

,period,subba,subba-name,parent,parent-name,value,value-units
0,2025-01-05T00,ZONA,West,NYIS,New York Independent System Operator,2075,megawatthours
1,2025-01-05T00,ZONB,Genesee,NYIS,New York Independent System Operator,1391,megawatthours
2,2025-01-05T00,ZONC,Central,NYIS,New York Independent System Operator,2165,megawatthours
3,2025-01-05T00,ZOND,North,NYIS,New York Independent System Operator,745,megawatthours
4,2025-01-05T00,ZONE,Mohawk Valley,NYIS,New York Independent System Operator,1250,megawatthours
...,...,...,...,...,...,...,...
270,2025-01-04T00,ZONG,Hudson Valley,NYIS,New York Independent System Operator,1397,megawatthours
271,2025-01-04T00,ZONH,Millwood,NYIS,New York Independent System Operator,403,megawatthours
272,2025-01-04T00,ZONI,Dunwoodie,NYIS,New York Independent System Operator,780,megawatthours
273,2025-01-04T00,ZONJ,New York City,NYIS,New York Independent System Operator,6323,megawatthours
274,2025-01-04T00,ZONK,Long Island,NYIS,New York Independent System Operator,2714,megawatthours

In [21]:
from sklearn.preprocessing import LabelEncoder

# Example: Label Encoding
label_encoder = LabelEncoder()
df['sub_region_code'] = label_encoder.fit_transform(df['subba'])

In [22]:
electricity_demand=df[['period','sub_region_code', 'value']]

In [23]:
electricity_demand

            period  sub_region_code value
0    2025-01-05T00                0  2075
1    2025-01-05T00                1  1391
2    2025-01-05T00                2  2165
3    2025-01-05T00                3   745
4    2025-01-05T00                4  1250
..             ...              ...   ...
270  2025-01-04T00                6  1397
271  2025-01-04T00                7   403
272  2025-01-04T00                8   780
273  2025-01-04T00                9  6323
274  2025-01-04T00               10  2714

[275 rows x 3 columns]

In [24]:
electricity_demand.nunique()

period              25
sub_region_code     11
value              255
dtype: int64

In [25]:
#rename
electricity_demand.rename(columns={
    'subba':'sub_BA_code',
    'value':'demand',
    'period':'date',
},inplace=True)
electricity_demand

C:\Users\HP\AppData\Local\Temp\ipykernel_2796\1382961395.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  electricity_demand.rename(columns={

              date  sub_region_code demand
0    2025-01-05T00                0   2075
1    2025-01-05T00                1   1391
2    2025-01-05T00                2   2165
3    2025-01-05T00                3    745
4    2025-01-05T00                4   1250
..             ...              ...    ...
270  2025-01-04T00                6   1397
271  2025-01-04T00                7    403
272  2025-01-04T00                8    780
273  2025-01-04T00                9   6323
274  2025-01-04T00               10   2714

[275 rows x 3 columns]

In [26]:
electricity_demand.describe()

       sub_region_code
count       275.000000
mean          5.000000
std           3.168043
min           0.000000
25%           2.000000
50%           5.000000
75%           8.000000
max          10.000000

In [27]:
electricity_demand['period'].min()

KeyError: 'period'

:

In [76]:
electricity_demand['period'].max()

'2024-01-05T00'

In [51]:
!pip install openmeteo-requests

Collecting openmeteo-requests
  Downloading openmeteo_requests-1.3.0-py3-none-any.whl.metadata (9.7 kB)
Collecting openmeteo-sdk>=1.4.0 (from openmeteo-requests)
  Downloading openmeteo_sdk-1.18.6-py3-none-any.whl.metadata (935 bytes)
Requirement already satisfied: requests in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from openmeteo-requests) (2.32.3)
Collecting flatbuffers==24.3.25 (from openmeteo-sdk>=1.4.0->openmeteo-requests)
  Downloading flatbuffers-24.3.25-py2.py3-none-any.whl.metadata (850 bytes)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests->openmeteo-requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests->openmeteo-requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests->openmeteo-requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests->openmeteo-requests) (2024.12.14)
Downloading openmeteo_requests-1.3.0-py3-none-any.whl (6.0 kB)
Downloading openmeteo_sdk-1.18.6-py3-none-any.whl (7.6 kB)
Downloading flatbuffers-24.3.25-py2.py3-none-any.whl (26 kB)
Installing collected packages: flatbuffers, openmeteo-sdk, openmeteo-requests
Successfully installed flatbuffers-24.3.25 openmeteo-requests-1.3.0 openmeteo-sdk-1.18.6

In [52]:
!pip install requests-cache retry-requests numpy pandas

Collecting requests-cache
  Downloading requests_cache-1.2.1-py3-none-any.whl.metadata (9.9 kB)
Collecting retry-requests
  Downloading retry_requests-2.0.0-py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: numpy in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (2.2.2)
Requirement already satisfied: pandas in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (2.2.3)
Collecting attrs>=21.2 (from requests-cache)
  Using cached attrs-24.3.0-py3-none-any.whl.metadata (11 kB)
Collecting cattrs>=22.2 (from requests-cache)
  Downloading cattrs-24.1.2-py3-none-any.whl.metadata (8.4 kB)
Requirement already satisfied: platformdirs>=2.5 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests-cache) (4.3.6)
Requirement already satisfied: requests>=2.22 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests-cache) (2.32.3)
Collecting url-normalize>=1.4 (from requests-cache)
  Downloading url_normalize-1.4.3-py2.py3-none-any.whl.metadata (3.1 kB)
Requirement already satisfied: urllib3>=1.25.5 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests-cache) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: charset-normalizer<4,>=2 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests>=2.22->requests-cache) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests>=2.22->requests-cache) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in d:\poetry_virtualenvs\src-o1faxyqi-py3.12\lib\site-packages (from requests>=2.22->requests-cache) (2024.12.14)
Downloading requests_cache-1.2.1-py3-none-any.whl (61 kB)
Downloading retry_requests-2.0.0-py3-none-any.whl (15 kB)
Using cached attrs-24.3.0-py3-none-any.whl (63 kB)
Downloading cattrs-24.1.2-py3-none-any.whl (66 kB)
Downloading url_normalize-1.4.3-py2.py3-none-any.whl (6.8 kB)
Installing collected packages: url-normalize, attrs, retry-requests, cattrs, requests-cache
Successfully installed attrs-24.3.0 cattrs-24.1.2 requests-cache-1.2.1 retry-requests-2.0.0 url-normalize-1.4.3

In [179]:
import openmeteo_requests

import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
def fetch_weather_date(start_date, end_date):
	url = "https://archive-api.open-meteo.com/v1/archive"
	params = {
	"latitude": 52.52,
	"longitude": 13.41,
	"start_date": start_date,
	"end_date": end_date,
	"hourly": ["temperature_2m", "weather_code"],
	"timeformat": "unixtime",
	"timezone": "America/New_York"}
	responses = openmeteo.weather_api(url, params=params)

   # Process first location. Add a for-loop for multiple locations or weather models
	response = responses[0]
	print(f"Coordinates {response.Latitude()}°N {response.Longitude()}°E")
	print(f"Elevation {response.Elevation()} m asl")
	print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
	print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

    # Process hourly data. The order of variables needs to be the same as requested.
	hourly = response.Hourly()
	hourly_temperature_2m = hourly.Variables(0).ValuesAsNumpy()
	hourly_weather_code = hourly.Variables(1).ValuesAsNumpy()

	hourly_data = {"date": pd.date_range(
		start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
		end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
		freq = pd.Timedelta(seconds = hourly.Interval()),
		inclusive = "left"
	)}

	hourly_data["temperature_2m"] = hourly_temperature_2m

	hourly_dataframe = pd.DataFrame(data = hourly_data)
	return hourly_dataframe

Coordinates 52.5483283996582°N 13.407821655273438°E
Elevation 38.0 m asl
Timezone b'America/New_York' b'GMT-5'
Timezone difference to GMT+0 -18000 s

                        date  temperature_2m
0  2024-01-02 05:00:00+00:00        2.558500
1  2024-01-02 06:00:00+00:00        2.508500
2  2024-01-02 07:00:00+00:00        2.708500
3  2024-01-02 08:00:00+00:00        3.208500
4  2024-01-02 09:00:00+00:00        4.058500
5  2024-01-02 10:00:00+00:00        4.708500
6  2024-01-02 11:00:00+00:00        4.858500
7  2024-01-02 12:00:00+00:00        4.808500
8  2024-01-02 13:00:00+00:00        4.958500
9  2024-01-02 14:00:00+00:00        4.858500
10 2024-01-02 15:00:00+00:00        4.858500
11 2024-01-02 16:00:00+00:00        4.958500
12 2024-01-02 17:00:00+00:00        5.108500
13 2024-01-02 18:00:00+00:00        5.508500
14 2024-01-02 19:00:00+00:00        6.358500
15 2024-01-02 20:00:00+00:00        7.008500
16 2024-01-02 21:00:00+00:00        7.008500
17 2024-01-02 22:00:00+00:00        7.308500
18 2024-01-02 23:00:00+00:00        7.958500
19 2024-01-03 00:00:00+00:00        8.108500
20 2024-01-03 01:00:00+00:00        8.258500
21 2024-01-03 02:00:00+00:00        8.558500
22 2024-01-03 03:00:00+00:00        8.408501
23 2024-01-03 04:00:00+00:00        8.958500
24 2024-01-03 05:00:00+00:00        8.758500
25 2024-01-03 06:00:00+00:00        8.608500
26 2024-01-03 07:00:00+00:00        8.558500
27 2024-01-03 08:00:00+00:00        8.758500
28 2024-01-03 09:00:00+00:00        9.208500
29 2024-01-03 10:00:00+00:00        9.658501
30 2024-01-03 11:00:00+00:00       10.008500
31 2024-01-03 12:00:00+00:00       10.008500
32 2024-01-03 13:00:00+00:00       10.608500
33 2024-01-03 14:00:00+00:00       10.108500
34 2024-01-03 15:00:00+00:00        9.258500
35 2024-01-03 16:00:00+00:00        8.858500
36 2024-01-03 17:00:00+00:00        8.408501
37 2024-01-03 18:00:00+00:00        8.458500
38 2024-01-03 19:00:00+00:00        8.408501
39 2024-01-03 20:00:00+00:00        8.458500
40 2024-01-03 21:00:00+00:00        7.458500
41 2024-01-03 22:00:00+00:00        7.308500
42 2024-01-03 23:00:00+00:00        7.008500
43 2024-01-04 00:00:00+00:00        7.058500
44 2024-01-04 01:00:00+00:00        7.308500
45 2024-01-04 02:00:00+00:00        7.058500
46 2024-01-04 03:00:00+00:00        7.108500
47 2024-01-04 04:00:00+00:00        7.208500

In [ ]:
hourly_dataframe.to_csv('../data/raw/weather_hourly_data.csv')

In [167]:
hourly_dataframe

                         date  temperature_2m
0   2024-01-01 05:00:00+00:00          3.9085
1   2024-01-01 06:00:00+00:00          3.7585
2   2024-01-01 07:00:00+00:00          3.4585
3   2024-01-01 08:00:00+00:00          3.9085
4   2024-01-01 09:00:00+00:00          4.9085
..                        ...             ...
115 2024-01-06 00:00:00+00:00          1.0085
116 2024-01-06 01:00:00+00:00          0.0585
117 2024-01-06 02:00:00+00:00         -0.3415
118 2024-01-06 03:00:00+00:00         -0.4915
119 2024-01-06 04:00:00+00:00         -0.2915

[120 rows x 2 columns]

In [168]:
electricity_demand_df=electricity_demand.copy()
weather_df=hourly_dataframe.copy()

In [ ]:
#MERGE DatA

In [185]:
# Step 1: Convert `date` columns to consistent datetime format
electricity_demand_df["date"] = pd.to_datetime(electricity_demand_df["date"], format="%Y-%m-%dT%H")
weather_df["date"] = pd.to_datetime(weather_df["date"]).dt.floor("h").dt.tz_localize(None)

In [186]:
weather_df

                   date  temperature_2m
0   2024-01-01 05:00:00          3.9085
1   2024-01-01 06:00:00          3.7585
2   2024-01-01 07:00:00          3.4585
3   2024-01-01 08:00:00          3.9085
4   2024-01-01 09:00:00          4.9085
..                  ...             ...
115 2024-01-06 00:00:00          1.0085
116 2024-01-06 01:00:00          0.0585
117 2024-01-06 02:00:00         -0.3415
118 2024-01-06 03:00:00         -0.4915
119 2024-01-06 04:00:00         -0.2915

[120 rows x 2 columns]

In [171]:
#weather_df["date"] = pd.to_datetime(weather_df["date"]).dt.tz_localize(None)  # Remove timezone info

In [172]:
electricity_demand_df

                    date sub_BA_code demand
0    2024-01-05 00:00:00        PGAE   9866
1    2024-01-05 00:00:00         SCE  11589
2    2024-01-05 00:00:00        SDGE   1978
3    2024-01-05 00:00:00         VEA     86
4    2024-01-05 00:00:00        COAS  12398
...                  ...         ...    ...
4995 2024-01-02 12:00:00        4004   3318
4996 2024-01-02 12:00:00        4005    888
4997 2024-01-02 12:00:00        4006   1752
4998 2024-01-02 12:00:00        4007   1995
4999 2024-01-02 12:00:00        4008   2875

[5000 rows x 3 columns]

In [95]:
weather_df

                   date  temperature_2m
0   2024-01-01 05:00:00          3.9085
1   2024-01-01 06:00:00          3.7585
2   2024-01-01 07:00:00          3.4585
3   2024-01-01 08:00:00          3.9085
4   2024-01-01 09:00:00          4.9085
..                  ...             ...
115 2024-01-06 00:00:00          1.0085
116 2024-01-06 01:00:00          0.0585
117 2024-01-06 02:00:00         -0.3415
118 2024-01-06 03:00:00         -0.4915
119 2024-01-06 04:00:00         -0.2915

[120 rows x 2 columns]

In [173]:

full_data=pd.merge(electricity_demand_df,weather_df, on="date", how="inner")

In [176]:
#data validation 
#there is problem with the data as we can see the sub-BA code is half string and half number 
full_data

                    date sub_BA_code demand  temperature_2m
0    2024-01-05 00:00:00        PGAE   9866         -0.3915
1    2024-01-05 00:00:00         SCE  11589         -0.3915
2    2024-01-05 00:00:00        SDGE   1978         -0.3915
3    2024-01-05 00:00:00         VEA     86         -0.3915
4    2024-01-05 00:00:00        COAS  12398         -0.3915
...                  ...         ...    ...             ...
4995 2024-01-02 12:00:00        4004   3318          4.8085
4996 2024-01-02 12:00:00        4005    888          4.8085
4997 2024-01-02 12:00:00        4006   1752          4.8085
4998 2024-01-02 12:00:00        4007   1995          4.8085
4999 2024-01-02 12:00:00        4008   2875          4.8085

[5000 rows x 4 columns]

In [177]:
#save the dataset
full_data.to_csv('../data/transformed/full_electricity_demand_data2.csv',index=False)

In [1]:
import pandas as pd

def download_one_electricity_raw_data(year: int, month: int, day: int) -> pd.DataFrame:
    """
    Fetch raw electricity demand data from the EIA API for the specified date.

    Parameters:
        year (int): Year of the data.
        month (int): Month of the data.
        day (int): Day of the data.

    Returns:
        pd.DataFrame: A DataFrame containing the fetched data.
    """
    # Ensure correct date formatting
    start_date = datetime(year, month, day)
    end_date = start_date + timedelta(days=1)

    # API URL and parameters
    url = "https://api.eia.gov/v2/electricity/rto/region-sub-ba-data/data/"
    params = {
        "frequency": "hourly",
        "data[0]": "value",
        "sort[0][column]": "period",
        "sort[0][direction]": "desc",
        "offset": 0,
        "length": 5000,
        "start": start_date.strftime("%Y-%m-%d"),
        "end": end_date.strftime("%Y-%m-%d"),
        "api_key": "dqRq8VpXSoyUrCbrPhuYFxGl6Rul9kmVcRshZ98c"
    }

    try:
        # Make GET request
        response = requests.get(url, params=params)
        response.raise_for_status()  # Raise HTTPError for bad responses

        # Parse JSON response
        data = response.json()

        # Save JSON response to a file
        file_path = RAW_DATA_electricity_DIR / f"hourly_demand_{year}-{month:02d}-{day:02d}.json"
        with open(file_path, 'w') as f:
            json.dump(data, f, indent=4)

        print(f"Data successfully fetched and saved to {file_path}")

        # Convert the response data to a DataFrame
        if 'response' in data and 'data' in data['response']:
            return pd.DataFrame(data['response']['data'])
        elif 'data' in data:  # Adjust according to the actual structure
            return pd.DataFrame(data['data'])
        else:
            print("Unexpected data structure in API response.")
            return pd.DataFrame()

    except requests.exceptions.RequestException as e:
        print(f"Error fetching data: {e}")
        return pd.DataFrame()

In [2]:
import requests
import json
import pandas as pd
from datetime import datetime, timedelta
from pathlib import Path
from sklearn.preprocessing import LabelEncoder
from src.paths import RAW_DATA_electricity_DIR

def load_daily_electricity_data(
    start_date: str,
    end_date: str
) -> pd.DataFrame:
    """
    Loads raw electricity data from local storage or downloads it using the API for the specified date range.
    Includes preprocessing of data before concatenating it into a single DataFrame.

    Args:
        start_date (str): Start date in YYYY-MM-DD format.
        end_date (str): End date in YYYY-MM-DD format.
    
    Returns:
        pd.DataFrame: Preprocessed and combined DataFrame for the date range.
    """
    start = datetime.strptime(start_date, "%Y-%m-%d")
    end = datetime.strptime(end_date, "%Y-%m-%d")
    
    all_data = []  # Use a list to collect DataFrames for efficient concatenation
    label_encoder = LabelEncoder()  # Initialize Label Encoder

    current_date = start
    while current_date <= end:
        year = current_date.year
        month = current_date.month
        day = current_date.day

        # Define file path for the current day's data
        local_file = RAW_DATA_electricity_DIR / f"hourly_demand_{year}-{month:02d}-{day:02d}.json"

        if local_file.exists():
            print(f"Loading file {local_file}")
            with open(local_file, "r") as f:
                data = json.load(f)
            if 'response' in data and 'data' in data['response']:
                day_data = pd.DataFrame(data['response']['data'])
            else:
                print(f"Unexpected structure in {local_file}")
                current_date += timedelta(days=1)
                continue
        else:
            print(f"File {local_file} not found. Fetching from API...")
            day_data = download_one_electricity_raw_data(year, month, day)
            if day_data.empty:
                current_date += timedelta(days=1)
                continue

        # Preprocessing
        if 'subba' in day_data:  # Ensure the column exists
            day_data['sub_region_code'] = label_encoder.fit_transform(day_data['subba'])
        else:
            print("'subba' column not found in data. Skipping encoding for this day.")
            day_data['sub_region_code'] = None

        # Select and rename columns
        day_data = day_data[['period', 'sub_region_code', 'value']]
        day_data.rename(columns={
            'value': 'demand',
            'period': 'date',
        }, inplace=True)

        # Convert 'date' to datetime format including the hour
        try:
            day_data['date'] = pd.to_datetime(day_data['date'], format="%Y-%m-%dT%H")
        except ValueError:
            print(f"Failed to parse 'date' column for {local_file}")
            current_date += timedelta(days=1)
            continue

        # Add the processed DataFrame to the list
        all_data.append(day_data)

        current_date += timedelta(days=1)

    # Concatenate all daily DataFrames
    if all_data:
        combined_data = pd.concat(all_data, ignore_index=True)
        print(f"Successfully loaded and processed data for {start_date} to {end_date}")
        return combined_data
    else:
        print("No data found for the specified date range.")
        return pd.DataFrame()

In [16]:
import requests
import json
import pandas as pd
from datetime import datetime, timedelta
from pathlib import Path
from sklearn.preprocessing import LabelEncoder
from src.paths import RAW_DATA_electricity_DIR

def load_daily_electricity_data(
    start_date: str,
    end_date: str
) -> pd.DataFrame:
    """
    Loads raw electricity data from local storage or downloads it using the API for the specified date range.
    Includes preprocessing of data before concatenating it into a single DataFrame.

    Args:
        start_date (str): Start date in YYYY-MM-DD format.
        end_date (str): End date in YYYY-MM-DD format.
    
    Returns:
        pd.DataFrame: Preprocessed and combined DataFrame for the date range.
    """
    start = datetime.strptime(start_date, "%Y-%m-%d")
    end = datetime.strptime(end_date, "%Y-%m-%d")
    
    all_data = []  # Use a list to collect DataFrames for efficient concatenation
    label_encoder = LabelEncoder()  # Initialize Label Encoder

    current_date = start
    while current_date <= end:
        year = current_date.year
        month = current_date.month
        day = current_date.day

        # Define file path for the current day's data
        local_file = RAW_DATA_electricity_DIR / f"hourly_demand_{year}-{month:02d}-{day:02d}.json"

        if local_file.exists():
            print(f"Loading file {local_file}")
            with open(local_file, "r") as f:
                data = json.load(f)
            if 'response' in data and 'data' in data['response']:
                day_data = pd.DataFrame(data['response']['data'])
            else:
                print(f"Unexpected structure in {local_file}")
                current_date += timedelta(days=1)
                continue
        else:
            print(f"File {local_file} not found. Fetching from API...")
            day_data = download_one_electricity_raw_data(year, month, day)
            if day_data.empty:
                current_date += timedelta(days=1)
                continue

        # Preprocessing
        if 'subba' in day_data:  # Ensure the column exists
            day_data['sub_region_code'] = label_encoder.fit_transform(day_data['subba'])
        else:
            print("'subba' column not found in data. Skipping encoding for this day.")
            day_data['sub_region_code'] = None

        # Select and rename columns
        day_data = day_data[['period', 'sub_region_code', 'value']]
        day_data.rename(columns={
            'value': 'demand',
            'period': 'date',
        }, inplace=True)

        # Convert 'date' to datetime format
        day_data['date'] = pd.to_datetime(day_data['date'], format="%Y-%m-%dT%H")
        day_data['date'] = day_data['date'].dt.strftime('%Y-%m-%d %H:%M:%S')
        

        # Add the processed DataFrame to the list
        all_data.append(day_data)

        current_date += timedelta(days=1)

    # Concatenate all daily DataFrames
    if all_data:
        combined_data = pd.concat(all_data, ignore_index=True)
        print(f"Successfully loaded and processed data for {start_date} to {end_date}")
        return combined_data
    else:
        print("No data found for the specified date range.")
        return pd.DataFrame()

In [17]:
data2=load_daily_electricity_data('2024-3-20', '2024-3-22')
data2

Loading file D:\Electricity_demand_predictor2\data\raw\electricity_raw_data\hourly_demand_2024-03-20.json
Loading file D:\Electricity_demand_predictor2\data\raw\electricity_raw_data\hourly_demand_2024-03-21.json
Loading file D:\Electricity_demand_predictor2\data\raw\electricity_raw_data\hourly_demand_2024-03-22.json
Successfully loaded and processed data for 2024-3-20 to 2024-3-22

                     date  sub_region_code demand
0     2024-03-21 00:00:00               53   7761
1     2024-03-21 00:00:00               59   9516
2     2024-03-21 00:00:00               61   1132
3     2024-03-21 00:00:00               67     49
4     2024-03-21 00:00:00               21  11392
...                   ...              ...    ...
6220  2024-03-22 00:00:00               64    307
6221  2024-03-22 00:00:00               65   3448
6222  2024-03-22 00:00:00               68   3922
6223  2024-03-22 00:00:00               70    969
6224  2024-03-22 00:00:00               71   2967

[6225 rows x 3 columns]